<html>
<body>
         <form action = "/operation" method = "POST">
         <select id = "operation" name="operation"></select>
         <input type ="text" name = "price1" id ="price1" >
         <input type ="text" name = "price2" id ="price2" >
         <input type ="text" name = "price3" id ="price3" >
         <input type ="text" name = "price4" id ="price4" >
         <input type ="text" name = "price5" id ="price5" >
         <input type = "submit" value = "total">
         </form>

</body>
</html>
